/* Mixins
 *---------------------------------------------------------------------------*/
$primary_color: #09F;
$primary_color_highlight: #6CC4FF;

/* no-slection: Turns off the ability to create a selection */
@mixin no-selection {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* clearfix: Clearfix is used for containers that have all children floating */
@mixin clearfix {
  &:after {
  	content: '\00a0';
  	display: block;
  	clear: both;
  	visibility: hidden;
  	line-height: 0;
  	height: 0;
    overflow: hidden;
  }
}
/*---------------------------------------------------------------------------*/
