@media (max-width: 769px) and (min-width: 480px) {
  body {
    padding: 0;
  }
  .container-fluid {
    padding: 0 20px;
  }
  #header h1 {
    top: -18px;
    left: 18px;
  }
  #search {
    display: none;
  }
  #user_nav > ul > li > a .text {
    display: none;
  }
  #main_nav {
    > ul > li > a .text {
      display: none;
    }
    > ul {
      width: 40px;
      ul {
        position: absolute;
        left: 45px;
        margin-top: -42px;
        opacity: 0.9;
        @include border-radius(5px);
        li a {
          padding: 2px 10px;
          border: 0;
          margin: 4px;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  #content {
    margin-left: 40px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0;
  }
  .container-fluid {
    padding: 0 10px;
  }
  #header {
    height: 40px;
    h1 {
      top: -18px;
      left: 6px;
      text-align: left;
    }
  }
  #search {
    display: none;
  }
  #user_nav {
    right: 45px;
    > ul > li > a .text {
      display: none;
    }
  }
  #main_nav {
    position: relative;
    width: 100%;
    > .btn {
      display: block;
    }
    > ul > li > a .text {
      display: inline;
    }
    > ul {
      position: absolute;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      width: 100%;
      opacity: 0;
      height: 0;
      overflow: hidden;
      margin-top: 0;
      border-top: 0;
      border-bottom: 0;
      > li.active:after {
        content: '';
      }
      ul {
        position: relative;
        left: 0;
        width: 100%;
        margin-top: 0;
        opacity: 1;
      }
    }
    > ul.open {
      opacity: 1;
    }
  }
  #content {
    margin: 0;
    @include border-radius(5px);
  }
  #sign_in {
    padding: 10;
    margin-top: 0;
    width: 100%;
    @include box-shadow(0 0 6px rgba(0, 0, 0, 0.6) inset);
    @include box-sizing(border-box);
    @include border-radius(0);
    .form-inputs {
      input[type="text"], input[type="email"], input[type="password"] {
        width: 82%;
      }
    }
  }

  .form-horizontal .control-group {
    .control-label {
      margin-left: 20px;
      margin-bottom: 0;
    }
    .controls {
      margin-left: 20px;
    }
    input[type="text"],
    input[type="password"],
    textarea {
      width: 90%;
    }
  }
}
