/* Layout
 *---------------------------------------------------------------------------*/
@import 'layout/layout';
@import 'layout/content';

@import 'aspects/messages';
@import 'aspects/containers';


h2.styleguide {
  font-size: 1.6em;
  color: #09F;
  text-transform: uppercase;
  border-bottom: 1px dotted #09F;
  margin: 20px -15px;
  padding: 0 20px;
}
