.breadcrumbs
  = link_to("<i class='icon-home'></i>#{t('protoadmin.main_nav.home')}".html_safe, protoadmin.root_url, rel: 'tooltip', title: "Go to Home", data: {placement: 'bottom'})
  = render_crumbs(separator: '')
