.graph-group {
  margin: 20px 0 10px;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 10px 10px;
    padding: 0 10px;
    border: 1px solid #d5d5d5;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 0 #fff inset, 0 1px 0 rgba(255, 255, 255, 0.4);
    line-height: 18px;
    @include gradient-vertical(#f9f9f9, #ededed);
    &:hover {
      @include gradient-vertical(#fcfcfc, #f1f1f1);
    }
  }
  .left, .right {
    text-shadow: 0 1px 0 #fff;
    float: left;
  }
  .left {
    margin-right: 12px;
    padding: 10px 14px 6px 4px;
    border-right: 1px solid #dcdcdc;
    box-shadow: 1px 0 0 0 #fff;
    font-size: 10px;
    font-weight: bold;
  }
  .right {
    width: 70px;
    padding: 9px 10px 7px 0;
    font-size: 12px;
    text-align: center;
    color: #666;
    strong {
      display: block;
      margin: 6px 0 3px;
      font-size: 26px;
    }
  }
}

.graph-plain {
  margin: 20px 0 10px;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 10px 20px;
    padding: 0 30px;
    h4 {
      font-size: 40px;
      margin-bottom: 15px;
    }
    span {
      font-size: 14px;
      color: #555555;
    }
  }
}
