%h2 Various Elements

= widget_box title: 'Buttons', icon: 'bookmark' do

  %h3 Basic Buttons
  .btn-toolbar
    %button.btn Button
    %button.btn.btn-primary Primary
    %button.btn.btn-success Success
    %button.btn.btn-warning Warning
    %button.btn.btn-danger Danger
    %button.btn.btn-info Info
    %button.btn.btn-inverse Inverse


  %h3 Sizes
  %p Utilize the extra button classes <code>.btn-large</code>, <code>.btn-small</code> or <code>.btn-mini</code> for sizing.
  .btn-toolbar
    %button.btn.btn-large Large
    %button.btn Normal
    %button.btn.btn-small Small
    %button.btn.btn-mini Mini


  %h3 Dropdowns
  %p Dropdown menus can also be toggled from the bottom up by adding a <code>.dropup</code> class to the <code>.btn-group</code> It will flip the direction of the caret and reposition the menu itself to move from the bottom up instead of top down.
  .btn-toolbar
    .btn-group
      %button.btn.dropdown-toggle{data: {toggle: 'dropdown'}} Button <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-primary.dropdown-toggle{data: {toggle: 'dropdown'}} Primary <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-success.dropdown-toggle{data: {toggle: 'dropdown'}} Success <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-warning.dropdown-toggle{data: {toggle: 'dropdown'}} Warning <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-danger.dropdown-toggle{data: {toggle: 'dropdown'}} Danger <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-info.dropdown-toggle{data: {toggle: 'dropdown'}} Info <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-inverse.dropdown-toggle{data: {toggle: 'dropdown'}} Inverse <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>


  %h3 Split dropdowns
  %p Building on the button group styles and markup, we can easily create a split button. Split buttons feature a standard action on the left and a dropdown toggle on the right with contextual links.
  .btn-toolbar{:style => "margin-top: 18px;"}
    .btn-group
      %button.btn Button
      %button.btn.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-primary Primary
      %button.btn.btn-primary.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-success Success
      %button.btn.btn-success.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-warning Warning
      %button.btn.btn-warning.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-danger Danger
      %button.btn.btn-danger.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-info Info
      %button.btn.btn-info.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>
    .btn-group
      %button.btn.btn-inverse Inverse
      %button.btn.btn-inverse.dropdown-toggle{data: {toggle: 'dropdown'}} <span class="caret"></span>
      %ul.dropdown-menu
        %li <a href="#">First action</a>
        %li <a href="#">Second action</a>
        %li.divider
        %li <a href="#">Third action</a>


  %h3 Icons
  %p You can also use icons within buttons.  You can combine these into a button group for a complete toolbar as well.
  .btn-toolbar
    %button.btn <i class="icon-eye-open"></i> View
    %button.btn.btn-inverse <i class="icon-refresh"></i> Update
    %button.btn.btn-primary <i class="icon-pencil"></i> Edit
    %button.btn.btn-danger <i class="icon-remove"></i> Delete
  .btn-toolbar
    .btn-group
      %button.btn <i class="icon-step-backward"></i>
      %button.btn <i class="icon-fast-backward"></i>
      %button.btn <i class="icon-backward"></i>
      %button.btn <i class="icon-play"></i>
      %button.btn <i class="icon-pause"></i>
      %button.btn <i class="icon-stop"></i>
      %button.btn <i class="icon-forward"></i>
      %button.btn <i class="icon-fast-forward"></i>
      %button.btn <i class="icon-step-forward"></i>


  %h3 Tooltips
  %span You can display tooltips on various elements by adding a <code>rel="tooltip"</code> and <code>title</code> attribute to any element.  Here we use buttons as examples.  You can also optionally specify direction by adding a <code>data-placement</code> attribute.
  .btn-toolbar
    %button.btn{rel: 'tooltip', title: 'Tooltip in top'} Top
    %button.btn{rel: 'tooltip', title: 'Tooltip in right', data: {placement: 'right'}} Right
    %button.btn{rel: 'tooltip', title: 'Tooltip in bottom', data: {placement: 'bottom'}} Bottom
    %button.btn{rel: 'tooltip', title: 'Tooltip in left', data: {placement: 'left'}} Left


.row-fluid
  .span6
    = widget_box title: 'Progress bars', icon: 'th-list' do
      .progress
        .bar{style: 'width:90%'}
      .progress.progress-striped
        .bar{style: 'width:55%'}
      .progress.progress-striped.active
        .bar{style: 'width:60%'}


      %h3 Colors
      %p
        By adding <code>.progress-success</code>, <code>.progress-warning</code> and <code>.progress-danger</code> you can achieve different colors as well.
      .progress.progress-success
        .bar{style: 'width:90%'}
      .progress.progress-striped.progress-warning
        .bar{style: 'width:55%'}
      .progress.progress-striped.progress-danger.active
        .bar{style: 'width:60%'}


  .span6
    = widget_box title: 'Labels and badges', icon: 'certificate' do
      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th{width: '20%'} Label
            %th{width: '80%'} Markup
        %tbody
          %tr
            %td
              %span.label Default
            %td <code>&ltspan class="label"&gt</code>
          %tr
            %td
              %span.label.label-success Success
            %td <code>&ltspan class="label label-success"&gt</code>
          %tr
            %td
              %span.label.label-warning Warning
            %td <code>&ltspan class="label label-warning"&gt</code>
          %tr
            %td
              %span.label.label-important Important
            %td <code>&ltspan class="label label-important"&gt</code>
          %tr
            %td
              %span.label.label-info Info
            %td <code>&ltspan class="label label-info"&gt</code>
          %tr
            %td
              %span.label.label-inverse Inverse
            %td <code>&ltspan class="label label-inverse"&gt</code>

      %br/

      %table.table.table-bordered.table-striped
        %thead
          %tr
            %th{width: '20%'} Badge
            %th{width: '80%'} Markup
        %tbody
          %tr
            %td
              %span.badge 1
            %td <code>&ltspan class="badge"&gt</code>
          %tr
            %td
              %span.badge.badge-success 2
            %td <code>&ltspan class="badge badge-success"&gt</code>
          %tr
            %td
              %span.badge.badge-warning 4
            %td <code>&ltspan class="badge badge-warning"&gt</code>
          %tr
            %td
              %span.badge.badge-important 6
            %td <code>&ltspan class="badge badge-important"&gt</code>
          %tr
            %td
              %span.badge.badge-info 8
            %td <code>&ltspan class="badge badge-info"&gt</code>
          %tr
            %td
              %span.badge.badge-inverse 10
            %td <code>&ltspan class="badge badge-inverse"&gt</code>
