<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>

    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>

    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
    <li class="span2">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/140x140" alt="">
      </a>
      <div class="actions">
        <a title="" href="#"><i class="icon-pencil icon-white"></i></a>
        <a title="" href="#"><i class="icon-remove icon-white"></i></a>
      </div>
    </li>
  </ul>
</div>
