<h1>Messages</h1>

<div class="alert">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Warning!</strong> Your monthly traffic is reaching limit.
</div>
<div class="alert alert-success">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Success!</strong> The page has been added.
</div>
<div class="alert alert-info">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Info!</strong> You have 198 unread messages.
</div>
<div class="alert alert-error">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Error!</strong> The daily cronjob has failed.
</div>

<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-comment"></i>
    </span>
    <h5>Notifications</h5>
  </div>
  <div class="widget-content notify-ui">
    <p>Growl style notifications can be created using gritter.  Just apply a <code>rel="gritter"</code> to an element with a <code>data-message</code> attribute.  Check how we use additional data attributes to specify a few options.</p>
    <button class="btn" rel="gritter" title="Standard" data-message="You can provide simple messages using the data-message attribute.">Standard</button>
    <button class="btn btn-warning" rel="gritter" title="Sticky" data-message="This message is sticky." data-sticky="true">Sticky</button>
    <button class="btn btn-success" rel="gritter" title="Image" data-message="This message includes an image." data-image="https://en.gravatar.com/userimage/4301562/87d8738abb11e916439334ce8626b4ae.jpeg">Image</button>
  </div>
</div>

<div class="widget-box">
  <div class="widget-title">
    <span class="icon">
      <i class="icon-comment-alt"></i>
    </span>
    <h5>Modal dialogs</h5>
  </div>
  <div class="widget-content">
    <a href="#modal_example" data-toggle="modal" class="btn btn-primary">Modal dialog</a>
    <div id="modal_example" class="modal hide">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button">×</button>
        <h3>Alert modal</h3>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet...</p>
      </div>
      <div class="modal-footer">
        <a data-dismiss="modal" class="btn btn-primary" href="#">Confirm</a>
        <a data-dismiss="modal" class="btn" href="#">Cancel</a>
      </div>
    </div>
  </div>
</div>
