#content {
  z-index: 3;
  width: auto;
  margin: -37px 0 0 220px;
  border-top-left-radius: 8px;
  > .filler {
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

.content {
  h1, h2 {
    white-space: nowrap;
    font-size: 28px;
    font-weight: normal;
    text-shadow: 0 1px 0 white;
    margin: 0 0 55px;
    padding: 20px 0;
    color: #555;
  }
  h3 {
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0 1px 0 white;
    margin: 10px 0;
    color: #555;
  }
  .nopadding {
    padding: 0 !important;
  }
}

.modal.remote {
  h1, h2 {
    padding: 8px 15px;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0 1px 0 white;
    margin: 0;
    border-bottom: 1px solid #eee;
    color: #555;
    line-height: 30px;
  }
}
