#user_nav {
  position: absolute;
  z-index: 5;
  right: 15px;
  top: 6px;
  li {
    text-align: left;
    text-shadow: none;
  }
  > ul > li {
    padding: 0;
    height: 26px;
    margin-right: -1px;
    > a {
      display: block;
      text-decoration: none;
      padding: 5px 10px;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      font-size: 0.8em;
      line-height: 17px;
      background: transparent;
    }
    > a:hover i {
      opacity: 0.8;
    }
    i {
      font-size: 1.1em;
      opacity: 0.5;
    }
    .label {
      top: 0;
      font-size: inherit;
    }
  }
}
