/* Flash Messages
 *---------------------------------------------------------------------------*/
#flash_messages {
  .flash-message {
    margin: 0 0 20px 0;
    padding: 10px 12px 10px 53px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #CCC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #222;
    font-size: 1.05em;
    line-height: 22px;
    background: #F9F9F9 url(/assets/protoadmin/flash-messages/notice.png) no-repeat 12px center;
  }
  .success {
    background-image: url(/assets/protoadmin/flash-messages/success.png);
    border: 3px solid #6FBB2E;
  }
  .alert {
    background-image: url(/assets/protoadmin/flash-messages/alert.png);
    border: 3px solid #FFA200;
  }
  .error {
    background-image: url(/assets/protoadmin/flash-messages/error.png);
    border: 3px solid #D20000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .5);
    margin: 0 -5px 20px -5px;
  }
}
